$link-border-primary: 1px solid $primary-300;
$link-hover-border-primary: 1px solid $primary-500;
$link-active-border-primary: 1px solid $primary-700;

$link-border-secondary: 1px solid $transparency-black-30;
$link-hover-border-secondary: 1px solid $black;
$link-active-border-secondary: 1px solid $black;
