// Color variables
$primary: #d6375d;
$primary-100: #fdf7f9;
$primary-200: #fbeaee;
$primary-300: #f6d5dd;
$primary-400: #eca2b4;
$primary-500: $primary;
$primary-600: #c3284c;
$primary-700: #ab2c4a;
$primary-800: #891c35;
$primary-900: #581222;

$neutrals: #c6cace;
$neutrals-100: #fcfcfc;
$neutrals-200: #f4f5f6;
$neutrals-300: #eff0f1;
$neutrals-400: #e4e5e6;
$neutrals-500: $neutrals;
$neutrals-600: #8c959d;
$neutrals-700: #656d76;
$neutrals-800: #494f55;
$neutrals-900: #282c2f;

$system-success-100: #f4fdf8;
$system-success-200: #ebf7f0;
$system-success-500: #30b56f;

$system-error-100: #FFF4F4;
$system-error-200: #FBE4E4;
$system-error-500: #E44646;

$system-warning-100: #FFF8EE;
$system-warning-200: #FFF0DB;
$system-warning-500: #EF8F11;

$black: #02021C;
$white: #FFFFFF;

$transparency-white-30: #FFFFFF4D;
$transparency-white-50: #FFFFFF80;
$transparency-white-70: #FFFFFFB2;

$transparency-black-30: #02021C4D;
$transparency-black-50: #02021C80;
$transparency-black-70: #02021CB2;

// Typo variables
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-family-sans-serif: 'Manrope', normal;
$font-family-playfair: 'Playfair Display', normal;

// Form variables
$input-focus-border-color: $primary;
$input-focus-box-shadow: 0 0 0 4px rgba($primary, 0.15);
$input-border-color: $neutrals;
$input-border-radius: 10px;
$input-border-radius-lg: 10px;
$input-border-radius-sm: 10px;
$input-placeholder-color: $neutrals-700;
$input-plaintext-color: $black;
$input-padding-y: 10px;
$input-padding-x: 12px;
$input-font-weight: 400;
$input-font-size: 16px;
$input-font-size-sm: 14px;
$input-font-size-lg: 20px;

$form-label-margin-bottom:              .2rem;
$form-label-font-size:                  14px;
$form-label-font-style:                 normal;
$form-label-font-weight:                400;
$form-label-color:                      $black;

$form-select-indicator-color:       $black;
$form-select-indicator: none;

$input-group-addon-color:               $black;
$input-group-addon-bg:                  $neutrals-200;

$nav-pills-border-radius:           10px;
$nav-pills-link-active-color:       $white;
$nav-pills-link-active-bg:          $primary;

